
{{ define "header" }}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" id="bootstrap-css">
        <link href="/assets/css/app.css" rel="stylesheet">

        <meta name="author" content="andrey.suglobov">
        <title>HighLoad Polygon</title>

</head>
<body>
<div class="container">
    <nav class="nav">
            <a class="nav-link active" href="/users">Пользователи</a>
            <a class="nav-link" href="/login">Вход</a>
            <a class="nav-link" href="/logout">Выход</a>
            <a class="nav-link" href="/registration">Регистрация</a>

            <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
            <form role="form" method="POST" action="/search-user">
                <input type="search/" name="search" id="search" class="form-control input-sm" />
                <input type="submit" value="Искать" class="btn btn-info btn-block"/>
            </form>
    </nav>
</div>
<div class="row">
</div>
{{ end }}    